<!DOCTYPE html>
<!--Originally found at http://cssdeck.com/labs/login-form-using-html5-and-css3-->
<html>
<head>
  <meta charset="UTF-8">
  <title>Login form</title>

  <link rel="stylesheet" href="{{ css_url }}">

</head>

<body>
<div class="container">
  <section id="content">
    <form method="POST" action="/">
      <h1>Login Form</h1>
      <div>
        <input type="text" placeholder="Email" required="" name="email" id="email" value="{{emailText}}"/>
      </div>
      <div>
        <input type="password" placeholder="Password" required="" name="password" id="password"/>
      </div>
      <div style="color: red">{{ status }}</div>
      <div>
        <input type="submit" value="Log in"/>
        <!-- <a href="#">Lost your password?</a> -->
      </div>
    </form>
  </section>
</div>
</body>


</html>
